/* CSS Reset */
* {
	margin: 0px;
	padding: 0px;
}
/* CSS Variables */
:root {
	--navbar-height: 50px;
}
/* Navigation bar */
#navbar {
	display: flex;
	position: relative;
	top: 0px;
	align-items: center;
}
#navbar::before {
	content: "";
	background-color: black;
	position: absolute;
	/* top: 0px;
    left: 0px; */
	height: 100%;
	width: 100%;
	z-index: -1; /* Content will be updise of background */
	opacity: 0.5;
}

/* Navigation bar :Logo and img*/
#logo {
	margin: 15px 35px;
}
#logo img {
	height: 65px;
	margin: 3px 5px;
}

/* Navigation bar :list styling*/

#navbar ul {
	display: flex;
	font-family: "Balsamiq Sans", cursive;
}
#navbar ul li {
	font-size: 1.3rem;
	list-style: none;
}
#navbar ul li a {
	color: white;
	display: block;
	text-decoration: none;
	margin: 9px 9px;
	padding: 5px 25px;
}
#navbar ul li a:hover {
	color: black;
	background-color: white;
	border-radius: 12px;
}

/* Home Section */
#home {
	display: flex;
	flex-direction: column;
	padding: 3px 200px;
	height: 575px;
	justify-content: center;
	align-items: center;
}
#home::before {
	content: "";
	background: url(../img/background.jpg) no-repeat center center/cover;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 88%;
	width: 100%;
	z-index: -1;
	opacity: 0.7;
}
#home h1 {
	color: black;
	text-align: center;
	font-family: "Bree Serif", serif;
}
#home p {
	color: black;
	text-align: center;
	font-size: 1.4rem;
	font-family: "Bree Serif", serif;
}
/* Services section */

#services {
	display: flex;
	margin: 3px 35px;
}

#services .box {
	border: 2px solid brown;
	border-radius: 23px;
	padding: 20px 21px;
	margin: 23px 21px;
	background-color: rgb(228 223 215);
}
#services .box img {
	height: 300px;
	width: 300px;
	display: block;
	margin: auto;
}
#services div p {
	font-family: "Balsamiq Sans", cursive;
}

/* Client Section */

#client-section {
	height: 344px;
}
#client-section::before {
	content: "";
	position: absolute;
	background: url("../img/bg3.png") no-repeat center center/cover;
	width: 100%;
	height: 45%;
	z-index: -1;
	opacity: 0.5;
}
#clients {
	display: flex;
	align-items: center;
	justify-content: center;
}
#clients img {
	height: 180px;
	width: 220px;
}
.client-item {
	padding: 5px 8px;
	margin: 4px 2px;
}

/* Contact Section */

#contact {
	position: relative;
}
#contact::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.7;
	background: url("../img/contact.jpg");
}

#contact-box input,
#contact-box textarea {
	width: 100%;
	height: 20px;
	padding: 13px;
	border-radius: 10px;
	font-size: 1.1rem;
}
#contact-box form {
	width: 40%;
}
#contact-box label {
	font-size: 1.3rem;
	font-family: "Bree Serif", serif;
}
#contact-box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 17px;
}

footer {
	background-color: black;
	color: white;
	padding: 9px 20px;
}
/* Utility class*/
.h-primary {
	font-size: 2.8rem;
	padding: 12px;
	font-family: "Bree Serif", serif;
}
.h-secondary {
	font-family: "Bree Serif", serif;
	font-size: 2rem;
	padding: 12px;
}
.btn {
	padding: 10px 20px;
	border: none; /* To remove the default border form the button */
	margin: 10px 11px;
	border: 3px solid black;
	font-size: 19px;
	border-radius: 10px;
	background-color: chocolate;
}
.btn:hover {
	color: white;
	cursor: pointer;
}
.center {
	text-align: center;
}
